# LaTeX
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.lof
*.lot
*.lol
*.xdv
*.nav
*.snm
*.vrb

# Sistema / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Temporales
*.tmp
*.bak

# Repositorio Laravel de referencia clonado localmente
/11_laravel_referencia/sistema-odontologico/
